---
import Layout from "@/layouts/Layout.astro";
import { MoveRight } from "lucide-astro";
---

<Layout
  title="404"
  description="This page is no longer available, or maybe it never was..."
>
  <main class="px-4 mx-auto max-w-2xl flex items-center">
    <div class="p-4 mt-12">
      <h1 class="text-4xl font-bold">I'm sorry 😔</h1>
      <p class="font-light leading-relaxed text-md mt-4 text-pretty">
        I've looked everywhere, but I couldn't find what you're looking for.{' '}
        Maybe it's not here anymore, or maybe it never was...
      </p>
      <p class="font-light leading-relaxed text-md mt-8 text-pretty">
        If you're lost, you can always
        <span class="hover:text-slate-400 transition-colors">
            <a class="underline underline-offset-4" href="/">go back to the homepage</a>
            <MoveRight class="inline pl-1"/>
        </span>
      </p>
    </div>
  </main>
</Layout>
