---
import { Github, Linkedin, FileText } from "lucide-astro";
import Layout from '@/layouts/Layout.astro';

import limwaWebp from '@/assets/limwa.webp';
import limwaJpg from '@/assets/limwa.jpg';
import { Image } from "astro:assets";
---

<Layout
	description="Hi, I'm André Lima, a curious and open-minded person who loves solving problems and learning new things."
>
	<main class="px-4 mx-auto max-w-2xl">
		<picture>
			<source type="image/webp" srcset={limwaWebp.src} />
			<source type="image/jpeg" srcset={limwaJpg.src} />
			<Image 
				src={limwaJpg} 
				loading="eager"
				alt="André Lima"
				class="select-none rounded-full aspect-square max-w-lg w-full mx-auto mt-14"
			/>
		</picture>
		<div class="p-4 mt-12">
			<h1 class="text-4xl font-bold">Hi, I&apos;m André Lima&nbsp;👋🏻</h1>
			<p class="font-light leading-relaxed text-md mt-4 text-pretty">
				I'm a curious and open-minded person who loves{' '}
				solving problems and learning new things.
			</p>
			<p class="font-light leading-relaxed text-md mt-4 text-pretty">
				I find Cybersecurity, Distributed Systems, and{' '}
				Web Development very captivating, although Programming{' '}
				Language Design has piqued my interest recently.
			</p>
			<p class="font-light leading-relaxed text-md mt-4 text-pretty">
				I&apos;m currently enrolled in a Master's Degree{' '}
				in Informatics and Computing Engineering at{' '}
				<a href="https://sigarra.up.pt/feup/en/web_page.inicial" class="underline underline-offset-4 hover:text-slate-400 transition-colors">FEUP</a>,{' '}
				in Porto,&nbsp;Portugal.
			</p>
			<ul class="mt-12 flex justify-evenly">
				<li>
					<a href="https://github.com/limwa" class="p-1 group relative block text-slate-400 hover:text-white transition-colors mb-6">
						<Github />
						<span class="absolute w-max opacity-0 group-hover:opacity-100 group-hover:mt-1 transition-all top-full left-1/2 -translate-x-1/2">GitHub</span>
					</a>
				</li>
				<li>
					<a href="https://linkedin.com/in/limwa" class="p-1 group relative block text-slate-400 hover:text-white transition-colors mb-6">
						<Linkedin />
						<span class="absolute w-max opacity-0 group-hover:opacity-100 group-hover:mt-1 transition-all top-full left-1/2 -translate-x-1/2">LinkedIn</span>
			
					</a>
				</li>
				<li>
					<a href="/resume.pdf" class="p-1 group block text-slate-400 hover:text-white transition-colors relative mb-6">
						<FileText />
						<span class="absolute w-max opacity-0 group-hover:opacity-100 group-hover:mt-1 transition-all top-full left-1/2 -translate-x-1/2">Resumé</span>
					</a>
				</li>
			</ul>
		</div>
	</main>
</Layout>
